body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map_container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
  border: 10px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2087e0;
}

.text-vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: right;
}


@media screen and (max-width: 768px) {
  .map_container {
    height: 100vh;
    width: 100vw;
  }

  .img-fluid {
    min-width: 10;
  }
}
